# IBM Data Science Specialization - Final Project

This is the notebook for Mateus Ribeiro's capstone project for the IBM Data Specialization on Coursera

In [5]:
import pandas as pd
import numpy as np

In [6]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

### Scrape data
Scrape data using BeautifulSoup

In [23]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

#get html from wiki page and create soup object
url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(url.text, 'lxml')

#using soup object, iterate the .wikitable to get the data from the HTML page and store it into a list
data = []
columns = []
table = soup.find(class_='wikitable')
for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
    
    #First row of data is the header
    if (index == 0):
        columns = section
    else:
        data.append(section)

# Crt list into Pandas DataFrame
toronto_df = pd.DataFrame(data = data,columns = columns)
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Cleaning Data

Ignoring cells with 'Not assigned' rows

In [24]:
toronto_df = toronto_df[toronto_df['Borough'] != 'Not assigned']
toronto_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [25]:
# Grouping neighbourhoods by postcode`s, separating them with `s`
toronto_df["Neighbourhood"] = toronto_df.groupby("Postcode")["Neighbourhood"].transform(lambda text: ', '.join(text))
# Droppign
toronto_df = toronto_df.drop_duplicates()

In [20]:
if(toronto_df.index.name != 'Postcode'):
    toronto_df = toronto_df.set_index('Postcode')
    
toronto_df['Neighbourhood'].replace("Not assigned", toronto_df["Borough"],inplace=True)
toronto_df.head()

                   Borough                                      Neighbourhood
Postcode
M3A             North York                                          Parkwoods
M4A             North York                                   Victoria Village
M5A       Downtown Toronto                                       Harbourfront
M6A             North York  Lawrence Heights, Lawrence Manor, Lawrence Hei...
M7A       Downtown Toronto                                       Queen's Park

In [21]:
toronto_df.shape

(103, 2)